<!DOCTYPE html>
<html>
	<title>Error</title>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>
			body {
				margin: 0;
			}
			div {
				margin-right: auto;
				margin-left: auto;
				width: 90vw;
				height: 90vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			button {
				border: none;
				background: none;
				border: 1px solid purple;
				font-size: 17px;
				line-height: 2em;
				width: 40vh;
				height: 2em;
			}
			button:hover {
				cursor: pointer;
			}
		</style>
	</head>
	<body>
		<div>
			<h2>죄송합니다. <%= message %> 오류가 발생했습니다!</h2>
			<h3>오류번호 : <%= error.status %></h3>
			<button id="back">뒤로가기</button>
			<!-- <pre><%= error.stack %></pre> -->
		</div>
	</body>
	<script>
		document.getElementById("back").onclick = () => {
			history.back();
		};
	</script>
</html>
