<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>

<body>
  <section class="login">
    <div class="login-container">
      <h3 class="title">Sign in</h3>
      <h3><i class="fas fa-user"></i></h3>
      <form class="" action="/admin/signin" method="post">
        <input type="text" name="username" value="" placeholder="이름"><br>
        <input type="password" name="password" value="" placeholder="비밀번호"><br>
        <button type="submit" name="button">LOGIN</button>
      </form>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/02656a2617.js"></script>
  <script src="/javascripts/assemble.js" charset="utf-8"></script>
  <script type="text/javascript">
    let msg = '<%=msg%>';
    if(msg !== '') {
      alert(msg);
      msg = '';
    }
  </script>
</body>
</html>
